---
---

@import "monokai";
@import "variables";

/// General styling

html {
	// Reduce contrast
	background: #DDDDDD url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAACVBMVEXd3d3u7u7MzMzRBQJcAAAALElEQVR4XpXLoQHAMAzAsB2hI/z/hQNtQGBNhPzdJIYd0bALGXYKw8NHGk4/dsYHgeX/kQsAAAAASUVORK5CYII=);
	color: #111;
	box-sizing: content-box;
}

body {
	// Improve readability
	font-size: 18px;
	line-height: 1.4;
	text-align: justify;
	font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

	margin: 0;
	width: 100%;

@media screen and (max-width: $mobile-device) {
		// prevent background image leak
		background: $main-background;
	}
}

code, pre {
	font-size: 90%;
}

pre {
	// Avoid horizontal page scrolling on mobile
	overflow: auto;
}

// Give links a RGB scheme
a {
	color: #01e; // Blue
	&:hover {
		color: #22f; // Slightly lighter blue
	}
	&:visited {
		color: #040; // Dark green
	}
	&:visited:hover {
		color: #020; // Darker green
	}
	&:active, &:focus, &:visited:active, &:visited:focus {
		color: #b00; // Red
	}
}

/// Layout

body {
	height: 100vh;
	overflow: hidden;
}

#navbar {
	width: 100%;

	font-size: 24px;
	margin: 0;
	padding: 0;
	height: $navbar-height;

	background-color: $navbar-bg-color;
	border-bottom: 1px solid #ccc;
}

#logo {
	margin: 0;
	display: block;
	padding: $logo-padding-top $logo-padding-right $logo-padding-bottom $logo-padding-left;
	height: $navbar-height - ($logo-padding-top + $logo-padding-bottom);
	float: left;
}

// Always hide the checkbox
#navbar-toggle-control {
	display: none;
}
#navbar-toggle {
	display: none;
	@media (max-width: $navbar-breakpoint) {
		display: block;
	}
	padding: $nav-logo-padding-top $nav-link-padding-right $nav-logo-padding-bottom $nav-link-padding-left;
	height: $navbar-height - ($nav-logo-padding-top + $nav-logo-padding-bottom);
	float: right;

	cursor: pointer;
	> {
		:first-child {
			display: block;
		}
		:last-child {
			display: none;
		}
	}
	:checked ~ & > {
		:first-child {
			display: none;
		}
		:last-child {
			display: block;
		}
	}
}

#navbar-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	@media (max-width: $navbar-breakpoint) {
		flex-flow: row wrap;
		display: none;
		:checked ~ & {
			display: flex;
		}
		position: fixed;
		top: $navbar-height;
		left: 10px;
		right: 10px;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 10px 20px #ccc;
	}
	background-color: $navbar-bg-color;
	z-index: 1;

	> a {
		padding-left: $nav-link-padding-left;
		padding-right: $nav-link-padding-right;
		height: $navbar-height;
		> img {
			padding-top: $nav-logo-padding-top;
			padding-bottom: $nav-logo-padding-bottom;
			height: $navbar-height - ($nav-logo-padding-top + $nav-logo-padding-bottom);
		}
		&.text {
			display: inline-block;
			padding-top: $nav-link-padding-top;
			padding-bottom: $nav-link-padding-bottom;
			height: $navbar-height - ($nav-link-padding-top + $nav-link-padding-bottom);
		}
	}
}

#breadcrumbs {
	margin:	0;
	padding: 0;
	background-color: #ccc;
	> ol {
		margin: 0 auto;
		padding: .5em 1em;
		box-sizing: border-box;
		max-width: $max-width;

		> li {
			display: inline;
			&:not(:first-child)::before {
				content: ">";
			}
		}
	}
}

// So that anchors are scrolled to, but not behind the navbar
#main-scroller {
	z-index: 0;
	overflow: auto;
	height: calc(100% - #{$navbar-box-height});
}

main {
	margin: 0 auto;

	max-width: $max-width;
	// Prevent text from bumping sides on smaller windows
	padding: 10px 20px;
	background: $main-background;
}
