---
layout: null
permalink: /css/doc.css
---

@import "variables";

#man {
	// Disable justification (see https://github.com/gbdev/rgbds-www/issues/13)
	text-align: left;

	@import "mandoc";
}

/** RGBDS-specific overrides **/

// Separate lines in tables
#man table.Bl-column {
	border-collapse: collapse;

	tr:not(:first-child) {
		> td, > th {
			border-top: 1px solid #aaa;
		}
	}

	th {
		// Apply `.Sy` style to table headers
		font-style: normal;
		font-weight: bold;
	}
	td, th {
		// Add horizontal spacing between columns
		padding: 2px 7px 0;
	}
}

@media screen and (max-width: $mobile-device) {
	#man {
		table.Bl-column {
			// This is to utilize all available space better on mobile
			margin-left: 0;
			table-layout: fixed;
			max-width: 200vw;

			td, th {
				// break basically everything if space is small
				overflow-wrap: break-word;
				// Force min-width in conjunction with word-break setting
				min-width: 15vw;
			}
		}
	}
}