---
layout: null
permalink: /css/doc.css
---

#man {
	@import "mandoc";
}

/** RGBDS-specific overrides **/

// Separate lines in tables
#man table.Bl-column {
	border-collapse: collapse;

	tr:not(:first-child) {
		> td, > th {
			border-top: 1px solid #aaa;
		}
	}

	th {
		// Apply `.Sy` style to table headers
		font-style: normal;
		font-weight: bold;
	}
	td, th {
		// Add horizontal spacing between columns
		padding: 2px 7px 0;
	}
}

#headline {
	font-size: larger;
}
