<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | replace: "_", "-" }}">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} &mdash; {{ site.title }}</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- if layout.stylesheets %}
		{%- for stylesheet in layout.stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
		{%- endfor %}
	{%- endif %}
	<link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="icon" type="image/png" href="/assets/rgbds-square-96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/rgbds-square-48.png" sizes="48x48">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/assets/rgbds-square-96.png" sizes="96x96">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/assets/rgbds-square-48.png" sizes="48x48">
	{% seo title=false %}
	{%- if page.keywords %}
		{%- assign keywords = page.keywords | concat: site.keywords %}
	{%- else %}
		{%- assign keywords = site.keywords %}
	{%- endif %}
	<meta name="keywords" content="{{ keywords | default: empty | join: ", " }}">
	{% feed_meta %}
</head>
<body>
	<aside id="navbar">
		<a id="logo" href="/"><img src="/assets/logo/190x30.png" alt="Rednex Game Boy Development System"></a>
		<input type="checkbox" name="navbar-toggle-control" id="navbar-toggle-control" aria-controls="navbar-nav">
		<label for="navbar-toggle-control" id="navbar-toggle">
			<img src="/assets/nav-burger.png" alt="Show nav">
			<img src="/assets/nav-close.png" alt="Hide nav">
		</label>
		<nav id="navbar-nav">
			<a href="/faq" class="text">FAQ</a>
			<a href="/docs/" class="text">Docs</a>
			<a href="/feedback" class="text">Feedback</a>
			<a href="https://gbdev.io" class="text">GBDev</a>
			<a href="https://github.com/gbdev/rgbds"><img src="/assets/github-icon.png" alt="RGBDS Github Repository"></a>
			<a rel="alternate" type="application/rss+xml" href="/feed.xml"><img src="/assets/rss.svg" alt="RSS Feed"></a>
		</nav>
	</aside>
{%- if page.breadcrumbs %}
	{%- assign folders = page.url | split: "/" %}
	{%- assign url = "" %}
	{%- assign nav = site.data.nav %}
	<div id="breadcrumbs" role="navigation" aria-label="Navigation up to this page">
		<ol itemscope itemtype="https://schema.org/BreadcrumbList" role="tree" aria-orientation="horizontal">
		{%- for elem in folders %}
			{%- unless forloop.first %}
				{%- assign nav = nav.children[elem] %}
			{%- endunless %}
			{%- assign url = url | append: "/" | append: elem %}
			<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<a itemprop="item" href="{{ url }}"><span itemprop="name">{{ nav.name | default: elem }}</span></a>
				<meta itemprop="position" content="{{ forloop.index }}">
			</li>
			{%- if forloop.first %}
				{% assign url = "" %}
			{%- endif %}
		{%- endfor %}
		</ol>
	</div>
{%- endif %}
	{{ content }}
</body>
</html>
