---
layout: default
---
{%- assign version = page.url | split: "/" | slice: -2 | first %}

<h1>{{ page.description }}</h1>
<h2>Table of Contents</h2>
<ol>
	<li>General information
		<ul>
			<li><a href="rgbds.7.html">RGBDS general information</a></li>
			<li><a href="rgbds.5.html">RGBDS object file format</a></li>
		</ul>
	</li>
	<li>Language description
		<ul>
			<li><a href="rgbasm.5.html">RGBASM language description</a></li>
			<li><a href="rgblink.5.html">RGBLINK linkerscript language description</a></li>
			<li><a href="gbz80.7.html">GBZ80 CPU instruction set description</a></li>
		</ul>
	</li>
	<li>Command line usage
		<ul>
			<li><a href="rgbasm.1.html">RGBASM command-line usage</a></li>
			<li><a href="rgblink.1.html">RGBLINK command-line usage</a></li>
			<li><a href="rgbfix.1.html">RGBFIX command-line usage</a></li>
			<li><a href="rgbgfx.1.html">RGBGFX command-line usage</a></li>
		</ul>
	</li>
</ol>
<h2 id="GitHub Repository">GitHub links</h2>
<p>
{%- if version != "master" %}
	<a href="https://github.com/gbdev/rgbds/releases/{{ version }}">Release page</a> &mdash;
{%- endif %}
	<a href="https://github.com/gbdev/rgbds">Source code repository</a>
</p>
