---
layout: default
---
{%- assign version = page.url | split: "/" | last %}

<h1>{{ page.description }}</h1>
<section aria-labelledby="toc">
<h2 id="toc">Table of Contents</h2>
	<ol>
		<li>General information
			<ul>
				<li><a href="rgbds.7">RGBDS general information</a></li>
				<li><a href="rgbds.5">RGBDS object file format</a></li>
			</ul>
		</li>
		<li>Language description
			<ul>
				<li><a href="rgbasm.5">RGBASM language description</a></li>
				<li><a href="rgblink.5">RGBLINK linkerscript language description</a></li>
				<li><a href="gbz80.7">GBZ80 CPU instruction set description</a></li>
			</ul>
		</li>
		<li>Command line usage
			<ul>
				<li><a href="rgbasm.1">RGBASM command-line usage</a></li>
				<li><a href="rgblink.1">RGBLINK command-line usage</a></li>
				<li><a href="rgbfix.1">RGBFIX command-line usage</a></li>
				<li><a href="rgbgfx.1">RGBGFX command-line usage</a></li>
			</ul>
		</li>
	</ol>
</section>
<aside aria-labelledby="github-links">
	<h2 id="github-links">GitHub links</h2>
	<p>
	{%- if version != "master" %}
		<a href="https://github.com/gbdev/rgbds/releases/{{ version }}">Release page</a> &mdash;
	{%- endif %}
		<a href="https://github.com/gbdev/rgbds">Source code repository</a>
	</p>
</aside>
{%- if version == "master" %}
<section aria-labelledby="what">
	<h2 id="what">What is <code>master</code>?</h2>
	<p>
		<code>master</code> is the name of RGBDS' main development branch. It's usually employed as a version name to refer to the state of in-development RGBDS: it contains the latest changes as they are pushed, but for this reason it's very unstable.
	</p>
	<section aria-labelledby="pros-cons">
		<h3 id="pros-cons">Pros and cons of <code>master</code> over releases</h3>
		<p>Pros:</p>
		<ul>
			<li>Get the latest changes quickly</li>
			<li>Also get bugfixes quickly</li>
			<li>Help development by submitting feedback early</li>
		</ul>
		<p>Cons:</p>
		<ul>
			<li>Tested, but unstable, so expect things to break often</li>
			<li>Must be compiled manually, unless you <a href="{{ site.baseurl }}/install/master#using-our-ci">use our CI</a></li>
			<li>Updated often</li>
		</ul>
	</section>
	<p>
		In general, we only recommend using <code>master</code> to experienced users that can afford breakage from time to time. If you do decide to use <code>master</code>, we thank you and encourage you to <a href="{{ site.baseurl }}/feedback">report any bugs you find</a>!
	</p>
</section>
{%- endif %}
